## Librerias:

In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer

In [3]:
dataset = "C:/Users/fer14538/Downloads/Base.csv"
df = pd.read_csv(dataset, sep=",", encoding='latin-1' )
df.head()

,Año,Fecha,prov_persona_en_situacion_violencia,genero_persona_en_situacion_de_violencia,edad_persona_en_situacion_de_violencia,pais_nacimiento_persona_en_situacion_de_violencia,tipo_de_violencia_fisica,tipo_de_violencia_psicologica,tipo_de_violencia_sexual,tipo_de_violencia_economica_y_patrimonial,...,tipo_de_violencia_domestica,modalidad_de_violencia_institucional,modalidad_de_violencia_laboral,modalidad_violencia_contra_libertad_reproductiva,modalidad_de_violencia_obstetrica,modalidad_de_violencia_mediatica,modalidad_de_violencia_otras,vinculo_con_la_persona_agresora,genero_de_la_persona_agresora,poblacion_provincia
0,2023,1/1/2023,Buenos Aires,Mujer,NaN,NaN,Si,Si,No,No,...,Si,No,No,No,No,No,No,Pareja,Varon,17569053
1,2023,1/1/2023,Buenos Aires,Mujer,19.0,Argentina,Si,Si,Si,No,...,No,No,No,No,No,No,No,Otro,Varon,17569053
2,2023,1/1/2023,Buenos Aires,Mujer,46.0,Argentina,Si,Si,No,No,...,Si,No,No,No,No,No,No,Pareja,Varon,17569053
3,2023,1/1/2023,Entre Ríos,Mujer,28.0,NaN,No,Si,No,No,...,Si,No,No,No,No,No,No,Pareja,Varon,1426426
4,2023,1/1/2023,Mendoza,Mujer,34.0,Argentina,No,Si,No,No,...,Si,No,No,No,No,No,No,Ex pareja,Varon,2014533

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89540 entries, 0 to 89539
Data columns (total 21 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Año                                                89540 non-null  int64
 1   Fecha                                              89540 non-null  object
 2   prov_persona_en_situacion_violencia                89540 non-null  object
 3   genero_persona_en_situacion_de_violencia           87636 non-null  object
 4   edad_persona_en_situacion_de_violencia             72262 non-null  float64
 5   pais_nacimiento_persona_en_situacion_de_violencia  59259 non-null  object
 6   tipo_de_violencia_fisica                           89540 non-null  object
 7   tipo_de_violencia_psicologica                      89540 non-null  object
 8   tipo_de_violencia_sexual                           89540 non-null  object
 9   tipo_de_violencia_economica_y_patrimonial          89540 non-null  object
 10  tipo_de_violencia_simbolica                        89540 non-null  object
 11  tipo_de_violencia_domestica                        89540 non-null  object
 12  modalidad_de_violencia_institucional               89540 non-null  object
 13  modalidad_de_violencia_laboral                     89540 non-null  object
 14  modalidad_violencia_contra_libertad_reproductiva   89540 non-null  object
 15  modalidad_de_violencia_obstetrica                  89540 non-null  object
 16  modalidad_de_violencia_mediatica                   89540 non-null  object
 17  modalidad_de_violencia_otras                       89540 non-null  object
 18  vinculo_con_la_persona_agresora                    86145 non-null  object
 19  genero_de_la_persona_agresora                      80327 non-null  object
 20  poblacion_provincia                                88228 non-null  object
dtypes: float64(1), int64(1), object(19)
memory usage: 14.3+ MB

In [6]:
df["Fecha"] = pd.to_datetime(df["Fecha"])

## Imputacion de datos faltantes:

In [7]:
total_nulls = df.isnull().sum()
print(total_nulls)

Año                                                      0
Fecha                                                    0
prov_persona_en_situacion_violencia                      0
genero_persona_en_situacion_de_violencia              1904
edad_persona_en_situacion_de_violencia               17278
pais_nacimiento_persona_en_situacion_de_violencia    30281
tipo_de_violencia_fisica                                 0
tipo_de_violencia_psicologica                            0
tipo_de_violencia_sexual                                 0
tipo_de_violencia_economica_y_patrimonial                0
tipo_de_violencia_simbolica                              0
tipo_de_violencia_domestica                              0
modalidad_de_violencia_institucional                     0
modalidad_de_violencia_laboral                           0
modalidad_violencia_contra_libertad_reproductiva         0
modalidad_de_violencia_obstetrica                        0
modalidad_de_violencia_mediatica                         0
modalidad_de_violencia_otras                             0
vinculo_con_la_persona_agresora                       3395
genero_de_la_persona_agresora                         9213
poblacion_provincia                                   1312
dtype: int64

### Mediana:

In [8]:
imputer = SimpleImputer(strategy='median')  # O 'median' para mediana
col_1 = df[["edad_persona_en_situacion_de_violencia"]]
col_1_imputada = imputer.fit_transform(col_1)
df["edad_persona_en_situacion_de_violencia"] = col_1_imputada

### Moda:

In [9]:
imputer = SimpleImputer(strategy='most_frequent')  # O 'median' para mediana
col_2 = df[["genero_persona_en_situacion_de_violencia"]]
col_2_imputada = imputer.fit_transform(col_2)
df["genero_persona_en_situacion_de_violencia"] = col_2_imputada

In [10]:
df.groupby("genero_persona_en_situacion_de_violencia").genero_persona_en_situacion_de_violencia.value_counts()

genero_persona_en_situacion_de_violencia  genero_persona_en_situacion_de_violencia
Intersexual                               Intersexual                                     4
Mujer                                     Mujer                                       88787
Mujer Trans                               Mujer Trans                                   141
No Binarie                                No Binarie                                      3
Otro                                      Otro                                           67
Queer                                     Queer                                           1
Transgenero                               Transgenero                                   151
Travesti                                  Travesti                                       11
Varon                                     Varon                                         349
Varon Trans                               Varon Trans                                    12
Varon trans                               Varon trans                                     1
Varón Trans                               Varón Trans                                    13
Name: genero_persona_en_situacion_de_violencia, dtype: int64

In [11]:
df["genero_persona_en_situacion_de_violencia"] = df["genero_persona_en_situacion_de_violencia"].replace("Varon trans", "Varon Trans")

In [23]:
imputer = SimpleImputer(strategy='most_frequent')  # O 'median' para mediana
col_3 = df[["poblacion_provincia"]]
col_3_imputada = imputer.fit_transform(col_3)
df["poblacion_provincia"] = col_3_imputada

In [22]:
df.groupby("prov_persona_en_situacion_violencia").prov_persona_en_situacion_violencia.value_counts().sort_values(ascending=False)

prov_persona_en_situacion_violencia  prov_persona_en_situacion_violencia
Buenos Aires                         Buenos Aires                           48565
CABA                                 CABA                                   17397
Santa Fe                             Santa Fe                                3785
Tucuman                              Tucuman                                 3224
Mendoza                              Mendoza                                 3132
Córdoba                              Córdoba                                 2610
Sin datos                            Sin datos                               1287
Jujuy                                Jujuy                                   1252
Salta                                Salta                                   1232
Chaco                                Chaco                                    801
San Luis                             San Luis                                 733
San Juan                             San Juan                                 654
Entre Rios                           Entre Rios                               631
Neuquen                              Neuquen                                  613
Misiones                             Misiones                                 545
Corrientes                           Corrientes                               512
Santiago Del Estero                  Santiago Del Estero                      494
Rio Negro                            Rio Negro                                454
Formosa                              Formosa                                  333
Catamarca                            Catamarca                                298
La Rioja                             La Rioja                                 291
Chubut                               Chubut                                   280
Santa Cruz                           Santa Cruz                               140
La Pampa                             La Pampa                                  92
Tierra del Fuego                     Tierra del Fuego                          92
Santiago del Estero                  Santiago del Estero                       68
Sin Datos                            Sin Datos                                 25
Name: prov_persona_en_situacion_violencia, dtype: int64

In [20]:
replace_values = {"Ciudad Autónoma de Buenos Aires": "CABA" , "Entre Ríos": "Entre Rios" , "Neuquén": "Neuquen" , "Río Negro": "Rio Negro",
                  "Tierra del Fuego, Antártida e Islas del Atlántico Sur": "Tierra del Fuego" , "Tucumán": "Tucuman"}
df["prov_persona_en_situacion_violencia"]=df["prov_persona_en_situacion_violencia"].replace(replace_values)

In [13]:
imputer = SimpleImputer(strategy='most_frequent')  # O 'median' para mediana
col_4 = df[["pais_nacimiento_persona_en_situacion_de_violencia"]]
col_4_imputada = imputer.fit_transform(col_4)
df["pais_nacimiento_persona_en_situacion_de_violencia"] = col_4_imputada

In [14]:
df.groupby(["pais_nacimiento_persona_en_situacion_de_violencia"]).pais_nacimiento_persona_en_situacion_de_violencia.value_counts().sort_values(ascending=False)

pais_nacimiento_persona_en_situacion_de_violencia  pais_nacimiento_persona_en_situacion_de_violencia
Argentina                                          Argentina                                            83223
Paraguaya                                          Paraguaya                                             2553
Boliviana                                          Boliviana                                             1290
Peruana                                            Peruana                                                989
Venezolana                                         Venezolana                                             476
Colombiana                                         Colombiana                                             237
Uruguaya                                           Uruguaya                                               201
Brasileña                                          Brasileña                                              146
Chilena                                            Chilena                                                131
Otra                                               Otra                                                   111
Otro                                               Otro                                                    44
Dominicana                                         Dominicana                                              23
Estadounidense                                     Estadounidense                                          13
Española                                           Española                                                12
Ecuatoriana                                        Ecuatoriana                                             12
Armenia                                            Armenia                                                 10
Alemana                                            Alemana                                                  8
Mexicana                                           Mexicana                                                 8
Cubana                                             Cubana                                                   7
Australiana                                        Australiana                                              6
ARMENIA                                            ARMENIA                                                  5
Italiana                                           Italiana                                                 5
Salvadoreña                                        Salvadoreña                                              3
Japonesa                                           Japonesa                                                 2
Rusa                                               Rusa                                                     2
Arabe                                              Arabe                                                    2
Belga                                              Belga                                                    2
Guatemalteca                                       Guatemalteca                                             2
Turca                                              Turca                                                    1
Palestina                                          Palestina                                                1
Ucraniana                                          Ucraniana                                                1
Panameña                                           Panameña                                                 1
Vietnamita                                         Vietnamita                                               1
ARABE                                              ARABE                                                    1
Nicaragüense                                       Nicaragüense                                             1
Lituania                                           Lituania                                                 1
Libano                                             Libano                                                   1
Letona                                             Letona                                                   1
Israelí                                            Israelí                                                  1
Griega                                             Griega                                                   1
Francesa                                           Francesa                                                 1
EspaÃ±ola                                          EspaÃ±ola                                                1
Costarricense                                      Costarricense                                            1
Canadiense                                         Canadiense                                               1
peruana                                            peruana                                                  1
Name: pais_nacimiento_persona_en_situacion_de_violencia, dtype: int64

In [15]:
imputer = SimpleImputer(strategy='most_frequent')
col_5 = df[["vinculo_con_la_persona_agresora"]]
col_5_imputada = imputer.fit_transform(col_5)
df["vinculo_con_la_persona_agresora"] = col_5_imputada

In [16]:
df.groupby(["vinculo_con_la_persona_agresora"]).vinculo_con_la_persona_agresora.value_counts().sort_values(ascending=False)

vinculo_con_la_persona_agresora  vinculo_con_la_persona_agresora
Ex pareja                        Ex pareja                          45642
Pareja                           Pareja                             32254
Otro                             Otro                                6804
Otro familiar                    Otro familiar                       3182
Padre o tutor                    Padre o tutor                       1082
Superior jerarquico              Superior jerarquico                  406
Madre o tutor                    Madre o tutor                        170
Name: vinculo_con_la_persona_agresora, dtype: int64

In [17]:
imputer = SimpleImputer(strategy='most_frequent')
col_6 = df[["genero_de_la_persona_agresora"]]
col_6_imputada = imputer.fit_transform(col_6)
df["genero_de_la_persona_agresora"] = col_6_imputada

In [18]:
df.groupby(["genero_de_la_persona_agresora"]).genero_de_la_persona_agresora.value_counts().sort_values(ascending=False)

genero_de_la_persona_agresora  genero_de_la_persona_agresora
Varon                          Varon                            88238
Mujer                          Mujer                             1034
Otro                           Otro                               222
Varon Trans                    Varon Trans                         19
Mujer Trans                    Mujer Trans                         10
Transgenero                    Transgenero                          9
Varon trans                    Varon trans                          3
Travesti                       Travesti                             2
No Binarie                     No Binarie                           1
OTRO                           OTRO                                 1
Queer                          Queer                                1
Name: genero_de_la_persona_agresora, dtype: int64

In [24]:
total_nulls_post_imputacion = df.isnull().sum()
print(total_nulls_post_imputacion)

Año                                                  0
Fecha                                                0
prov_persona_en_situacion_violencia                  0
genero_persona_en_situacion_de_violencia             0
edad_persona_en_situacion_de_violencia               0
pais_nacimiento_persona_en_situacion_de_violencia    0
tipo_de_violencia_fisica                             0
tipo_de_violencia_psicologica                        0
tipo_de_violencia_sexual                             0
tipo_de_violencia_economica_y_patrimonial            0
tipo_de_violencia_simbolica                          0
tipo_de_violencia_domestica                          0
modalidad_de_violencia_institucional                 0
modalidad_de_violencia_laboral                       0
modalidad_violencia_contra_libertad_reproductiva     0
modalidad_de_violencia_obstetrica                    0
modalidad_de_violencia_mediatica                     0
modalidad_de_violencia_otras                         0
vinculo_con_la_persona_agresora                      0
genero_de_la_persona_agresora                        0
poblacion_provincia                                  0
dtype: int64